.ipynb_checkpoints/Python 3 String Examples-checkpoint.ipynb
.ipynb_checkpoints/Python 3 List Comprehensions-checkpoint.ipynb
.ipynb_checkpoints/Python 3 String Examples-checkpoint.ipynb

.ipynb

/.ipynb_checkpoints